<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Go Web App</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <!--    <link rel="stylesheet" href="web/css/style.css">-->
  </head>
  <body>
    <div class="container">
      <h1>File Upload and Compare</h1>

      <!-- Form for uploading a file -->
      <form id="uploadForm" enctype="multipart/form-data">
        <label for="file">Choose a file to upload:</label>
        <input type="file" name="file" id="file" required />
        <!-- Hidden field to specify file type -->
        <!--        <input type="hidden" name="type" value="json"> &lt;!&ndash; or "csv" based on your needs &ndash;&gt;-->

        <button type="submit">Upload File</button>
      </form>

      {{ if .Files}}
      <div class="row-1">
        <div class="col-1">
          <div class="dropdown">
            <button class="dropbtn">Select Files</button>
            <div class="dropdown-content">
              {{range .Files}}
              <!-- Loop through the files passed to the template -->
              <label class="checkbox-container">
                <input type="checkbox" value="{{.}}" class="file-checkbox" />
                <span class="checkmark">{{.}}</span>
              </label>
              {{end}}
            </div>
          </div>
          <!--            <span><p>Select to compare here</p></span>-->
          <!--            <label>-->
          <!--                <select class="compare_files">-->
          <!--                    {{range .Files}} &lt;!&ndash; Loop through the files passed to the template &ndash;&gt;-->
          <!--                    <option value="{{.}}">{{.Name}}</option>-->

          <!--                    {{end}}-->
          <!--                </select>-->
          <!--            </label>-->
        </div>
        <div class="col-2">
          <div class="overflow-hidden">
            <p>Overflow below hidden max 255 chars</p>
          </div>
        </div>
      </div>
      <div class="row-2">
        <!-- Button to compare two files -->
        <form action="/compare" method="POST">
          <button type="submit" id="generate-report">
            Click to generate reports
          </button>
        </form>
      </div>

      <div class="row-3">
        <div>
          <h3>Report Contents</h3>
          <p>View Report here.</p>
        </div>
      </div>

      {{ else }}
      <p>No file uploaded yet.</p>

      {{ end }}

      <!-- Button to download a file -->
      <form action="/download" method="GET">
        <button type="submit">Download File</button>
      </form>
    </div>

    <script src="/static/js/index.js"></script>
  </body>
</html>
